<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EventAI_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <EventAI_Creator.Properties.Settings>
      <setting name="DBHost" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPort" serializeAs="String">
        <value />
      </setting>
      <setting name="DBUSER" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPW" serializeAs="String">
        <value />
      </setting>
      <setting name="DBMANGOS" serializeAs="String">
        <value />
      </setting>
      <setting name="DBSD" serializeAs="String">
        <value />
      </setting>
      <setting name="SSHUSE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SSHHOST" serializeAs="String">
        <value />
      </setting>
      <setting name="SSHPORT" serializeAs="String">
        <value />
      </setting>
      <setting name="SSHUSER" serializeAs="String">
        <value />
      </setting>
      <setting name="SSHPW" serializeAs="String">
        <value />
      </setting>
      <setting name="SSHRPORT" serializeAs="String">
        <value />
      </setting>
    </EventAI_Creator.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>